html{
    background-color: black;
    color: white;
}


nav{
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    
}

img{
    margin: 50px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    }

a{
    text-decoration: none;
    margin: 30px;
}